<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203264626600-2liudnl39s89nlirnsedes5c7nrc1qmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203264626600-2liudnl39s89nlirnsedes5c7nrc1qmn</string>
	<key>API_KEY</key>
	<string>AIzaSyBzIM6dEtp6aAwlhtnfelDw40b3ryu9hVI</string>
	<key>GCM_SENDER_ID</key>
	<string>203264626600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.pevalcar.aguazullavapp</string>
	<key>PROJECT_ID</key>
	<string>aguazullavapp</string>
	<key>STORAGE_BUCKET</key>
	<string>aguazullavapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203264626600:ios:341e78585cacabc5a7979d</string>
</dict>
</plist>