on:
  push:
    tags:
    - v*
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v1
      with:
        java-version: 12.x
    - uses: subosito/flutter-action@v1
      with:
        channel: stable
    - run: flutter pub get
    - run: flutter build apk --split-per-abi
    - name: Create a Release APK
      uses: ncipollo/release-action@v1
      with:
        artifacts: build/app/outputs/apk/release/*.apk
        commit: master
        token: ${{ secrets.MY_REPO_SECRET }}
        tag: v0.5.3
